//
//  Release.xcconfig
//  Nyangjoop
//
//  Created by Lee on 10/13/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Secret.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.jean.Nyangjoop
APP_DISPLAY_NAME = 냥냥
API_BASE_URL = dapi.kakao.com
