<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>AdBannerUnitID</key>
	<string>$(AD_BANNER_UNIT_ID)</string>
	<key>AdInterstitialUnitID</key>
	<string>$(AD_INTERSTITIAL_UNIT_ID)</string>
	<key>AdRewardInterstitialUnitID</key>
	<string>$(AD_REWARD_INTERSTITIAL_UNIT_ID)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8354537461647039~5959960222</string>
	<key>UIAppFonts</key>
	<array>
		<string>MemomentKkukkukkR.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>apiKey</key>
	<string>$(apiKey)</string>
</dict>
</plist>
